<div class="card">
    <img [src]="player.photo" [alt]="player.name" class="card-img-top img-fluid">
    <div class="card-body">
        <h4 class="card-title">{{player.name}}</h4>
        <p class="card-text">{{player.address}}</p>
        <p class="card-text">{{player.city}}</p>
        <p class="card-text">{{player.bornDate}}</p>
        <p class="card-text">{{player.email}}</p>
        <p class="card-text">{{player.phoneNumber}}</p>
        <a [routerLink]="[ '/player', player._id ]" class="btn btn btn-outline-primary">Ver mas...</a>
    </div>
</div>