<h1>
    {{player.name | uppercase}}
    <small>
        ({{player.createdAt | date: "y"}})
    </small>
</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <img [src]="player.photo" [alt]="player.name" class="img-fluid" />
        <hr />
        <a [routerLink]="['/players']" class="btn btn-outline-danger btn-block">Atras</a>
    </div>
    <div class="col-md 8">
        <h3>{{player.name}}</h3>
        <p>{{player.address}}</p>
        <p>{{player.city}}</p>
        <p>{{player.bornDate}}</p>
        <p>{{player.email}}</p>
        <p>{{player.phoneNumber}}</p>
    </div>
</div>